server:
  address: 127.0.0.1
  port: 8078
  ssl:
    key-store-type: PKCS12
    key-store: "${user.dir}/../certs/services.p12"
    key-store-password: "changeit"
    trust-store-type: JKS
    trust-store: "${user.dir}/../certs/truststore.jks"
    trust-store-password: "changeit"
    enabled: true
  forward-headers-strategy: framework

spring:
  application:
    name: gateway-service
  main:
    banner-mode: off
  security:
    oauth2:
      client:
        registration:
          #          client-oidc:
          #            client-id: 2e8347f2-ccac-4d03-bc2c-cc733ec4da10
          #            client-secret: secret
          #            client-authentication-method: client_secret_basic
          #            authorization-grant-type: authorization_code
          #            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
          #            scope:
          #              - profile
          #              - openid
          static-oidc:
            client-id: "2e8347f2-ccac-4d03-bc2c-cc733ec4da10"
            client-secret: "secret"
            client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - openid
        provider:
          #          client-oidc:
          #            #            issuer-uri: "http://localhost:8079/uaa"
          #            authorization-uri: "http://localhost:8079/uaa/oauth2/authorize"
          #            token-uri: "http://localhost:8079/uaa/oauth2/token"
          #            jwk-set-uri: "http://localhost:8079/uaa/oauth2/jwks"
          static-oidc:
            #            issuer-uri: "http://localhost:8077"
            authorization-uri: "https://auth.example.com:8077/oauth2/authorize"
            token-uri: "https://auth.example.com:8077/oauth2/token"
            jwk-set-uri: "https://auth.example.com:8077/oauth2/jwks"
            ssl-trust-all: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-me
              uri: https://localhost:8077
              predicates:
                - Path=/uaa/**
            - id: client1
              uri: http://localhost:8081
              predicates:
                - Path=/mvc/**
            - id: client2
              uri: http://localhost:8082
              predicates:
                - Path=/flux/**
          default-filters:
            - TokenRelay=
          httpclient:
            connect-timeout: 15000
            response-timeout: 60000
            pool:
              metrics: true
  session:
    redis:
      namespace: bff:websession
      flush-mode: on_save
      save-mode: on_set_attribute
  data:
    redis:
      host: localhost
      port: 6379
  web:
    error:
      include-exception: true
      include-stacktrace: always
      include-message: always

logging:
  level:
    root: info
    "org.springframework.security": info
    "org.springframework.cloud.gateway": info
    "org.springframework.security.oauth2.core.OAuth2TokenValidator": debug
    "org.springframework.web": info
