server:
  port: 8081
  servlet:
    context-path: /mvc
spring:
  application:
    name: sso-client1
  main:
    banner-mode: off
  datasource:
    url: "jdbc:postgresql://localhost:5432/prore?currentSchema=oauth2"
    driver-class-name: "org.postgresql.Driver"
    hikari:
      pool-name: "auth-server-ds"
      maximum-pool-size: 7
      minimum-idle: 1
      auto-commit: false
    username: "postgres"
    password: ""
  jpa:
    open-in-view: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "https://auth.example.com:8077"
  web:
    resources:
      static-locations: /Users/bhushanr/incubator/samples/oauth2-samples/.ui-client1/dist/.ui-client1/browser, classpath:/static/
logging:
  level:
    root: info
    "org.springframework.security.web": info
