server:
  address: 127.0.0.1
  port: 8077
  ssl:
    key-store-type: PKCS12
    key-store: "${user.dir}/../certs/services.p12"
    key-store-password: "changeit"
    trust-store-type: JKS
    trust-store: "${user.dir}/../certs/truststore.jks"
    trust-store-password: "changeit"
    enabled: true
  servlet:
    session:
      timeout: 30m
      cookie:
        http-only: true
        secure: false
        same-site: lax

spring:
  application:
    name: jdbc-oauth2-server
  main:
    banner-mode: off
  datasource:
    url: "jdbc:postgresql://localhost:5432/prore?currentSchema=oauth2"
    driver-class-name: "org.postgresql.Driver"
    hikari:
      pool-name: "auth-server-ds"
      maximum-pool-size: 7
      minimum-idle: 1
    username: "postgres"
    password: ""
  mvc:
    view:
      prefix: "/WEB-INF/jsp/"
      suffix: ".jsp"
  session:
    redis:
      namespace: sas:session
      flush-mode: on_save
      save-mode: on_set_attribute
  data:
    redis:
      host: localhost
      port: 6379
  web:
    error:
      include-exception: true
      include-stacktrace: always
      include-message: always

logging:
  level:
    root: info
    "org.springframework.security": debug
    "org.springframework.security.web": debug
    "org.springframework.security.web.savedrequest": debug
#    "org.springframework.security.web.FilterChainProxy": trace
    "org.springframework.security.oauth2": debug
    "org.springframework.data.redis": debug
    "org.springframework.session.redis": debug
    "com.github.brane08.oauth2.server": debug
sas:
  gateway-url: https://gateway.example.com